In [1]:
print("0813")

0813

In [10]:
for i in range(3,8,1):
    print(i,end=" ")
print()
c=range(3,8,1)
print(c)

3 4 5 6 7
range(3, 8)

In [12]:
c=range(3,8,1)
print(list(c))
d=range(3,8,2)
print(list(d))
e=range(3,8,-1)
print(list(c))

[3, 4, 5, 6, 7]
[3, 5, 7]
[3, 4, 5, 6, 7]

In [13]:
c1=list(c)
print(c1)
print(type(c1))

[3, 4, 5, 6, 7]
<class 'list'>

In [15]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [22]:
list1=list(range(9))
print(list1)
print()
list2=list(range(1,10))
print(list2)
print()
list3=list(range(1,10,2))
print(list3)
print()
list4=list(range(10,1,-2))
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 3, 5, 7, 9]

[10, 8, 6, 4, 2]

In [25]:
n=int(input("請輸入一個整數:"))
for i in range(1,(n+1)):
    print(i,end=" ")

1 2 3 4 5

In [27]:
n=int(input("請輸入一個正整數:"))
sum=0
for i in range(n+1):
    sum+=i
print(sum)

55

In [30]:
n=int(input("請輸入一個正整數:"))
sum=0
for i in range(n+1):
    sum+=i
print("1到 %d 的整數合為"%n,sum)

1到 50 的整數合為 1275

In [31]:
n=int(input("請輸入一個正整數:"))
sum=(1+n)*n/2
print(sum)

1275.0

In [35]:
n=int(input("請輸入一個正整數:"))
sum=0
for i in range(1,n+1):
    sum+=i
    print("1到%2d的整數和為:"%i,sum)

1到 1的整數和為: 1
1到 2的整數和為: 3
1到 3的整數和為: 6
1到 4的整數和為: 10
1到 5的整數和為: 15
1到 6的整數和為: 21
1到 7的整數和為: 28
1到 8的整數和為: 36
1到 9的整數和為: 45
1到10的整數和為: 55

In [36]:
sum=0
for i in range(2,100,2):
    sum+=i
print(sum)

2450

In [37]:
for i in range(10,0,-1):
    print(i)
print("倒數結束!")

10
9
8
7
6
5
4
3
2
1
倒數結束!

In [51]:
list1=[]
for i in range(1,11):
    list1.append(i*i)
    print("%2d*%2d="%(i,i),i**2)
print()
print(list1)

 1* 1= 1
 2* 2= 4
 3* 3= 9
 4* 4= 16
 5* 5= 25
 6* 6= 36
 7* 7= 49
 8* 8= 64
 9* 9= 81
10*10= 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
for i in range(3,30,4):
    print(i,end=" ")

3 7 11 15 19 23 27

In [52]:
for i in range(10,50+1):
    if i>25:
        print(i,end=" ")

26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50