In [1]:
print("0820-1")

0820-1

In [2]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

In [3]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [5]:
print(list(range(10,0,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
list1=[1,2,3,4,5]
list2=["香蕉","頻果","橘子"]
list3=[1,"香蕉",True]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['香蕉', '頻果', '橘子']
[1, '香蕉', True]

In [15]:
print(list3[0],list3[1],list3[2])
print(list1[4])
print(list2[0],list2[1],list2[2])
print(list1[-4])

1 香蕉 True
5
香蕉 頻果 橘子
2

In [19]:
list5=[["tom","1234"],["mary","abcd"],["advid","5678"]]
print(list5[1])
print(list5[0][1])

['mary', 'abcd']
1234

In [25]:
score=list(map(int,input().split()))
print(f'國文成績:{score[0]}分')
print(f'數學成績:{score[1]}分')
print(f'英文成績:{score[2]}分')

國文成績:85分
數學成績:79分
英文成績:93分

In [26]:
list1=["香蕉","頻果","橘子"]
for i in list1:
    print(i,end=",")

香蕉,頻果,橘子,

In [27]:
list1=[123,"apple",True]
for i in list1:
    print(i)

123
apple
True

In [28]:
scores=[85,79,93]
print(len(scores))

3

In [29]:
scores=[85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [37]:
list1=["國文","數學","英文"]
scores=[85,79,93]
for i in range(len(list1)):
    print(list1[i],":",scores[i])
# print(f'{list1[0][0]}成績:{list1[0][1]}分')
# print(f'{list1[1][0]}成績:{list1[1][1]}分')
# print(f'{list1[2][0]}成績:{list1[2][1]}分')

國文 : 85
數學 : 79
英文 : 93

In [36]:
list2=["Tom","Mary","Tony"]
for i in range(len(list2)):
    print(f'編號:{i+1} 姓名:{list2[i]}')

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony

In [40]:
#將字串(list)每一項倒序印出來15,30,32
n=input().split()
new=[0 for i in range(len(n))]
a=len(n)-1
for i in range(len(n)):
    new[a]=n[i]
    a-=1
for j in new:
    print(j,end=" ")

wemo people two , emo people one

In [43]:
n=input().split()
for i in range(len(n)-1,-1,-1):
    print(n[i],end=" ")

lovely and cute is panda

In [39]:
#利用for迴圈產生指定數列
n=input().split()
num1=int(n[0])
num2=int(n[1])
num3=int(n[2])
for i in range(num1,num2,num3):
    print(i,end=",")

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [42]:
#利用range產生指定串列list
n=input().split()
num1=int(n[0])
num2=int(n[1])
num3=int(n[2])
list_1=[ ]

for i in range(num1,num2,num3):
    list_1.append(i)
print(list_1)

[3, 4, 5, 6, 7]

In [38]:
n=input().split()
print(n)

['5', '6', '9']